.cycles-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    gap: 24px;
}

.cycles-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cycles-header-title{
    font-size: 20px;
    font-weight: 600;
    color: #1B1B22;
}

.cycles-header-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #464553;
}

.cycles-header-text{
    display: flex;
    flex-direction: column;
}
.cycles-header-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #2F6690;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 14px;
    border: none;
}

.cycles-table{
    width: 100%;
    /* margin-top: 24px; */
    border-radius: 14px;
    border: 1px solid #C8C4D5;
}

.cycles-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* padding-top: 5px; */
    padding-bottom: 12px;
    border-top: 1px solid #C8C4D5;
}
.cycles-row:hover{
    background-color: #F6F2FC80;
    cursor: pointer;
}
.column-names{
    background-color: #F6F2FC80;
    padding-top: 10px;
    border-top: 0px
}

.column-id{
    width:50px;
    justify-content: left;
    text-wrap: nowrap;
}

.column-name{
    width: 200px;
    justify-content: left;
}

.column-daterange{
    width: 200px;
    justify-content: left;
}

.column-status{
    width: 100px;
    justify-content: left;
}

.status-badge{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 14px;
    font-size: 11px;
    font-weight: 700;
    border-radius: 12px;
    background-color: grey;
}

.status-in-progress{
    background-color: #DCFCE7;
    color: #15803D;
}

.status-completed{
    background-color: #E4E1EB;
    color: #464553;
}

.status-initiated{
    background-color: #FFDBCC;
    color: #845238;
}