.error-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items:  center;
    height: 100vh;
    background: #F3F6FA;
}


.nf{
    margin-top: 400px;
    font-size: 60px;
}

.pnf{
    font-size: 30px;

}

